.backgroundImg {
  background-image: url("../../../public/bannerbackground.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
}
